# Web & Frontend
streamlit==1.28.0
requests==2.31.0

# Backend / FastAPI
fastapi==0.111.0
uvicorn[standard]==0.23.2

# AI / LLM
openai==1.29.0  # atau sesuai versi OpenAI / Sea-Lion SDK
Pillow==10.0.0

# OCR & dokumen
easyocr==1.6.2
PyPDF2==3.1.0
python-docx==0.8.12
textract==1.0.3

# Optional (env & caching)
python-dotenv==1.0.0
