# Web & Frontend
streamlit
requests

# Backend / FastAPI
fastapi
uvicorn

# AI / LLM
openai  # atau sesuai versi OpenAI / Sea-Lion SDK
Pillow

# OCR & dokumen
easyocr
PyPDF2
python-docx
textract

# Optional (env & caching)
python-dotenv
